/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}


@media only screen and (device-width: 768px) {

			.mauIpadGa {
				visibility: hidden;
				clear: both;
				float: left;
				margin: 10px auto 5px 20px;
				width: 28%;
				display: none;
			}

				
		.tp-banner-container{
			width:100%;
			position:relative;
			padding-top:300px;
			padding-bottom:5000px;

		}

		.tp-banner{
			width:100%;
			position:relative;
			
		}

		.tp-banner-fullscreen-container {
				width:100%;
				position:relative;
				padding:0;
		}
	
  }


@media screen and (max-width: 600px) {
	.mauMobilGa {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}	
.tp-banner-container{
	width:100%;
	position:relative;
	padding-top:100px;
	padding-bottom:50px;

}

.tp-banner{
	width:100%;
	position:relative;
	
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}
  }

  
